{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}
    
    {% if form.errors %}

    
    {% for error in form.errors %}
        <small class="btn-outline-danger"> {{error}} </small>
    {% endfor %}
        
    {% endif %}

    <div class="columns is-mobile mt-6">
        <div class="column  is-half is-offset-one-quarter is-4">
            <div class="col0md-5">
                <h3 class="text-center">Login</h3>
                <form action=" {% url 'login' %} " method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
            
                    <input type="submit" class="btn btn-outline-success" value="login">
                    <input type="hidden" value="{{next}}">
                </form>
    
                <small style="color: #fff;">
                    Don't have an account? 
                    <button type="button"><span></span> <a href="/accounts/register/">Register</a></button>
                </small>
            </div>
        </div>
      </div>

        
    <style>
        *{
            color: white;
        }
    </style>
{% endblock content %}
    