{% extends 'base.html' %}


{% block content %}
<div class="banner">
  <div class="content">
    <h1>POST AND GET YOUR PROJECT REVIEWED</h1>
    <p style="line-height: 2rem;"><b>Hello and welcome</b> <br>
      It is a beautiful day to post your projects and get them rated.
    <br>This platform helps you grow in terms of confidence and skills. <br> Knowing what users think about your project helps you better understand what they need and want, <br> 
  this inturn helps you grow exponential as you will be in a better position to create user oriented projects and designs.</p>
  <p>Here you post every project from coded work to designs and get them reviewed.</p>
      <br>
  <form class="navbar-form my-2 "role="search" style="transform: translateY(-50%);margin-left: 35%;" action="{% url 'search' %}">

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search project" name="post">
    </div>

  </form>
  
    <div class="">
      <button type="button" ><span></span> <a style="text-decoration: none; overflow: hidden;" href="{% url 'projects' %}">PROJECTS</a> </button>
      <button type="button"><span></span> <a href="{% url 'upload' %}">POST PROJECT</a></button>
    </div>
  </div>

</div>


{% endblock content %}
    


