{% extends 'base.html' %}


{% block content %}
    

<div class="container">
 
  {% if user.is_authenticated %}
  
  
  
  {% if project %}
  
  
  {% for proj in project %}
  
  <div class="columns is-mobile mr-5 my-2" style="display: inline-block; border-color: blue; ">
    <div class="column">

      <div class="card">
        <div class="card-image">
          <img src=" {{proj.project_image.url}} " style="height: 40vmin; width: 40vmin; border: 1px;" alt="">
          <div class="card-body">
            <p> <i>{{proj.project_name}}</i> </p>
            <p> {{prof.descritpion}} </p>
            <p> <a href="{{proj.project_link}} ">Live Link</a></p>
            <p> <a href="{% url 'single' proj.id %}">Reviews</a> </p>
          </div>
        </div>
      </div>
      
       
      
    </div>
  </div>
  
    
  {% endfor %}
  
  {%else%}
    <h3 style="color: white;" class="text-center">No projects posted</h3>	
  
  {% endif %}
    
  {% endif %}
  
  </div>
  <!-- styles -->
  <style>
    .column{
        color: #fff;
        display: inline-block;
        padding-top: 10%;
    }
    .column p a{
list-style: none;
display: inline-block;
margin: 0 20px;
position: relative;
}
.card{
  background-color: transparent;
  color: #fff;
  box-shadow: 3px 5px 15px rgba(252, 252, 252, 0.67);
}
.column p a{
text-decoration: none;
color: #fff;
text-transform: uppercase;

}
.column p a::after{
content: '';
height: 3px;
width:0;
background: #009688;
position: absolute;
left: 0;
bottom: -10px;
transition: 0.5s;
border: 10px;
}
.column p a:hover::after{
width: 100%;

}
</style>
{% endblock content %}
    