{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <br>
        <div class="container">
            <div class="row">
    
                
                {% if posts %}
    
                <h2 style="color: greenyellow;">Found {{posts|length}} of searched term {{message}} </h2>
                    {% else %}
    
                    <h2 style="color: red;">Found no projects for the search term {{message}} </h2>
                {% endif %}
                    
            </div>
    
            <div class="row">
                
                {% if posts %}
                {% for post in posts %}
                <div class="columns is-mobile mr-5 my-2" style="display: inline-block; border-color: blue; ">
                    <div class="column">
                      <p>Posted by :{{post.user_prof.user}} </p>
                      <img src=" {{post.project_image.url}} " style="height: 40vmin; width: 40vmin; border: 1px;" alt="">
                      <p> {{post.project_name}} </p>
                      <p> {{post.descritpion}} </p>
                      <p> <a href="{{post.project_link}} ">Live Link</a></p>
                      <p> <a href="{% url 'single' post.id %}">Review</a> </p>
                      
                    </div>
                </div>
               </div>
                    
                    
                {% endfor %}
                    
                {% endif %}
                    
            </div>
        </div>
    </div>

    <style>
        .column{
            color: #fff;
        }
        .column p a{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.column p a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;

}
.column p a::after{
  content: '';
  height: 3px;
  width:0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
  border: 10px;
}
.column p a:hover::after{
  width: 100%;

}
    </style>
{% endblock content %}
    